* {
  margin: 0;
  padding: 0;
}

/* .game__container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

#game-canvas {
  /* margin: 50px auto; */
  background-color: aquamarine;
}
